Source: knotifications
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: debhelper (>= 9.0.0), cmake, pkg-kde-tools,
 extra-cmake-modules (>= 0.0.13), qtbase5-dev, libqt5x11extras5-dev,
 libkf5windowsystem-dev (>= 4.99.0), libkf5service-dev (>= 4.99.0),
 libkf5config-dev (>= 4.99.0), libkf5iconthemes-dev (>= 4.99.0),
 libkf5coreaddons-dev (>= 4.99.0), libkf5dbusaddons-dev (>= 4.99.0),
 libkf5i18n-dev (>= 4.99.0), libkf5configwidgets-dev (>= 4.99.0),
 libkf5auth-dev (>= 4.99.0), libkf5guiaddons-dev (>= 4.99.0),
 libkf5widgetsaddons-dev (>= 4.99.0), libkf5itemviews-dev (>= 4.99.0),
 libkf5codecs-dev (>= 4.99.0), libphonon4qt5-dev, pkg-config,
 libphonon4qt5experimental-dev, libdbusmenu-qt5-dev,
 qttools5-dev, qttools5-dev-tools, qt5-default
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/knotifications

Package: libkf5notifications-dev
Section: libdevel
Architecture: any
Depends: libkf5notifications5 (= ${binary:Version}), ${misc:Depends}
Description: a framework for desktop notifications
 KNotification is used to notify the user of an event. It covers
 feedback and persistent events.
 .
 Contains debug symbols for KNotifications.
 
Package: libkf5notifications5
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a framework for desktop notifications
 KNotification is used to notify the user of an event. It covers
 feedback and persistent events.

Package: libkf5notifications5-data
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a framework for desktop notifications
 KNotification is used to notify the user of an event. It covers
 feedback and persistent events.
 .
 This package contains the translations.

Package: libkf5notifications5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libkf5notifications5 (= ${binary:Version}), ${misc:Depends}
Description: a framework for desktop notifications
 KNotification is used to notify the user of an event. It covers
 feedback and persistent events.
 .
 Contains debug symbols for KNotifications.
 
